<button mat-stroked-button color="primary" class="mb-3" routerLink="/home">
  <mat-icon class="me-1">home</mat-icon>Voltar ao início
</button>

<h2>Ative sua nova linha Pré-paga</h2>

<mat-stepper orientation="vertical" linear="false" #stepper>
  <mat-step [stepControl]="cadastroFormGroup">
    <form [formGroup]="cadastroFormGroup">
      <ng-template matStepLabel>Cadastro</ng-template>
      <div *ngIf="!cliente" class="mt-3">
        <h4>Faça seu cadastro:</h4>
        <mat-form-field appearance="fill">
          <mat-label for="email">Insira seu email:</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-divider class="mt-1"></mat-divider>
        <button mat-button color="primary" (click)="cliente = !cliente">
          Já é nosso cliente? Faça seu login
        </button>
      </div>
      <div *ngIf="cliente" class="mt-3">
        <h4>Faça seu login:</h4>
        <mat-form-field appearance="fill">
          <mat-label for="email">Insira seu email:</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-divider class="mt-1"></mat-divider>
        <button mat-button color="primary" (click)="cliente = !cliente">
          Ainda não é nosso cliente? Faça seu cadastro
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext class="mt-3">
          Próximo
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="documentsFormGroup">
    <form [formGroup]="documentsFormGroup">
      <ng-template matStepLabel>Insira um documento</ng-template>
      <mat-form-field appearance="fill" class="mt-3">
        <mat-label for="cpfCnpj">Informe seu CPF ou CNPJ:</mat-label>
        <input
          matInput
          formControlName="cpfCnpj"
          placeholder="000.000.000-00"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious class="mt-3 me-1">
          Voltar
        </button>
        <button mat-raised-button color="primary" matStepperNext class="mt-3">
          Próximo
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enviar</ng-template>
    <p>Cadastro realizado!</p>
  </mat-step>
</mat-stepper>
